<bootstrap-grid>
    <container>
        <row>
            <column md="6">
                <img class="img-responsive img-rabbit" src="assets/images/about.jpg">
            </column>
            <column md="6">
                <a (click)="gotoWorkExperience()" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
                <div id="watermark">
                    <h2 class="page-title" text-center>About</h2>
                    <div class="marker">a</div>
                    <div class="social">
                        <!-- <a href="https://api.whatsapp.com/send?l=en&phone=34634567759&"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> -->
                        <a href="whatsapp://send?l=en&phone=34634567759&text=Hello! Are you interested in ..."><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        <a href="weixin://dl/chat?isep1327"><i class="fa fa-weixin" aria-hidden="true"></i></a>
                        <a href="mailto:raul1327@yahoo.es"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/jose-raul-castro-castro-31b29013"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p class='subtitle'>Hi, I am J. Raul Castro. A Full Stack Software Engineer based in Europe with over 8 years’ experience of Java development.
                </p>
                <p class="info">For the last five years I have been working at different site locations in Santander/BBVA/BME banks and Energya VM offices on several projects. I am fluent in Spanish, English and Mandarin Chinese.
                </p>
                <p class="info">When I'm not designing or coding software, you can surely find me watching an Asian series such as <q>Shinya Shokudō</q>, riding on my bicycle or reading a book such as <q>The God of Small Things</q> or <q>Building Microservices</q>.
                <!-- <p class="info">You can also know more about me and my work here:</p> -->
            </column>
        </row>
    </container>
</bootstrap-grid>
