.demo-grid-list {

    /*width: 1100px;*/

    .mat-card {
      margin: 16px 0;
    }

    p {
      margin: 16px;
    }

    .demo-basic-list .mat-grid-tile {
      background: rgba(0, 0, 0, 0.32);
    }

    img {
      width: 350px;
    }

}

.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
  padding: 0;
  background: transparent;
}

/*.gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}*/

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

.imagePng {
  display: block;
  /*width: 100%;*/
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7fdfff;
}

.containerGridTile:hover .overlay {
  opacity: 0.4;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
